table {
  border: none;
  border-collapse: collapse;
}

table.guesses {
  border-collapse: separate;
  width: 300px;
  height: 420px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  border-spacing: 2px;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: Sans-Serif;
  margin-left: auto;
  margin-right: auto;
}

table.kbd {
  border: none;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
  border-spacing: 2px;
  text-transform: uppercase;
  font-size: 50px;
  font-family: Sans-Serif;
}


td.guesses {
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

td.kbd {
  border: none;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 45px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
	font-size: .75rem;
  border-radius: 5px;
  box-sizing: content-box;
}

h2, h4 {
  text-align: center;
}

h4.suggestions {
  font-size: .9375rem;
  text-align: left;
  margin-bottom: 1.0rem;
}

p.suggestions {
  font-size: .75rem;
  margin-bottom: .25rem;
}

.correct {
  text-align: center;
  background-color: #6aaa64;
}

.wrong_place {
  text-align: center;
  background-color: #c9b458;
}

.absent {
  text-align: center;
  background-color: #66686a;
}

.not_entered {
  background-color: #4c4c4c;
}

button.action-button {
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: auto;
  padding-right: auto;
  background-color: #a0a0a0;
  text-align: center;
  text-transform: uppercase;
  font-size: .75rem;
  font-family: Sans-Serif;
  box-sizing: content-box;
}

button.action-button.correct {
  background-color: #6aaa64;
}

button.action-button.wrong_place {
  background-color: #c9b458;
}

button.action-button.absent {
  background-color: #66686a;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  text-align: center;
  font-size: .75rem;
  color: #808080;
}

.datepicker table tr td, .datepicker table tr th {
  font-size: 1.0rem;
}

#randomPuzzle {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 5px;
}

#randomPuzzle:active {
  border: 1px solid red;
  background-color: #800000;
}

div#targetType {
  margin-bottom: 0px;
}


