table, th, td {
  border: none;
  border-collapse: collapse;
}

table.kbd {
  border: none;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
}

td {
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-spacing: 2px;
  text-transform: uppercase;
  font-size: 50px;
  font-family: Sans-Serif;
}


td.kbd {
  border: none;
  width: 30px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
	font-size: 12px;
  border-radius: 5px;
  box-sizing: content-box;
}

.correct {
  background-color: #6aaa64;
}

.wrong_place {
  background-color: #c9b458;
}

.absent {
  background-color: #86888a;
}

button.action-button {
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Sans-Serif;
  box-sizing: content-box;
}